body {
    background-color: black;
    color: white;
}

#header {
    text-align: center;
    font-size: 250%;
    margin:30px;
}

#buttonPlay {
    text-align: right;
    margin-bottom: 20px;
}

#buttonPause {
    margin-bottom: 20px;
}

#leftPanel {
    text-align: center;
    border: solid;
}

img {
    height: 25%;
    margin-top:30px;
}

#rightPanel {
    border: solid;
    padding-top: 20px;
}

.rightContent {
    padding: 15px;
    text-align: center;
}

.noPadding {
    padding: none;
}